/* components.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-white p-3 rounded-full border border-white hover:bg-primary-light;
  font-family: Arial, sans-serif; /* Set your website default font here */
}

.btn-primary {
  @apply bg-primary;
}

.btn-secondary {
  @apply bg-secondary;
}

.dashboard-active {
  @apply bg-primary text-white shadow-defult;
}


.shadow-defult{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.time-active{
  @apply bg-primary text-white py-1 px-3  rounded-full shadow-defult;
}
/* Ensuring box-sizing property */
.hover-outline {
  outline: 1px solid white;
  box-sizing: border-box;
  padding: 4px;
}
