/* components.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-white p-3 rounded-full border border-white hover:bg-primary-light;
}

.btn-primary {
  @apply bg-primary;
}

.btn-secondary {
  @apply bg-secondary;
}


/* Ensuring box-sizing property */
.hover-outline {
  outline: 1px solid white;
  box-sizing: border-box;
  padding: 4px;
}
