/* index.css */
@import "./components.css"; /* Ensure this path is correct */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom selection color styles */
::selection,
::-webkit-selection,
::-moz-selection {
  background: #9fb8ff;
  color: #000;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #d9edfc;
}

::-webkit-scrollbar-thumb {
  background: #2042b6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

@font-face {
  font-family: 'Nantes-Regular';
  src: url("/asset/font/Nantes-Regular.woff");
}

body {
  font-family: 'Nantes-Regular', sans-serif;
  color: #191618;
  background: #ebebeb;
}

html {
  scroll-behavior: smooth;
}

/* Global box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg-custom-green {
  background-color: #afcd80;
}

/* Styles for the toggle menu */
.menu {
  @apply absolute right-0 top-full bg-white shadow-lg z-10 opacity-0 transform -translate-y-2 transition-all duration-300 ease-in-out;
  display: none;
  height: 0;
  overflow: hidden;
}

.menu.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
  height: auto;
}

.menu-item {
  @apply p-4 border-b border-gray-300;
}

.menu-item:last-child {
  border-bottom: none;
}

.div_relative {
  @apply relative;
}

.div_absolute {
  @apply absolute -top-12 right-0;
}

.bg-home {
  background-image: url("/asset/images/home_bg-removebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 450px;
}

.bg-caro {
  background-image: url("/asset/images/bg-caro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}

.parallelogram-border {
  @apply absolute left-1/2 top-1/2 border opacity-100 transform -translate-x-1/2 -translate-y-1/2 skew-x-12;
  width: 200px;
  height: 550px;
}

.parallelogram-border-dashboard {
  @apply border opacity-100 transform -translate-x-1/2 -translate-y-1/2 skew-x-12 mx-2;
  width: 20px;
  height: 50px;
}

/* Swiper slider styles */
.swiper-container {
  @apply w-full overflow-hidden;
}

.swiper-wrapper {
  @apply flex;
}

.swiper-slide {
  @apply flex-shrink-0 w-full h-full;
}

.custom-swiper-button {
  @apply w-10 h-10 text-black flex items-center justify-center rounded-full bg-white shadow-lg;
}

.custom-swiper-button img {
  width: 20px;
  height: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  @apply absolute top-1/2 transform -translate-y-1/2 z-10 ;
}

.swiper-pagination {
  @apply bottom-5;
}


