/* index.css */
@import "./components.css"; /* Ensure this path is correct */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom selection color styles */
::selection, ::-webkit-selection, ::-moz-selection {
  background: #9fb8ff;
  color: #000;
}

/* Custom scrollbar styling for both vertical and horizontal scrollbars */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #d9edfc;
}

::-webkit-scrollbar-thumb {
  background: #2042b6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

@font-face {
  font-family: Nantes-Regular;
  src: url("./asset/font/Nantes-Regular.woff");
}

body {
  font-family: myFirstFont;
  color: #191618;
  background: #ebebeb;
}

/* Global box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Styles for the toggle menu */
.menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out, height 0.9s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  height: 0;
  overflow: hidden;
}

.menu.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
  height: auto;
}

.menu-item {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.menu-item:last-child {
  border-bottom: none;
}

.div_relative {
  position: relative;
}

.div_absolute {
  position: absolute;
  top: -48px;
  right: 0;
}

.bg-home {
  background-image: url("/asset/images/home_bg-removebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 450px;
}

.bg-caro {
  background-image: url("./asset/images/bg-caro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}

.parallelogram-border {
  width: 200px;
  height: 550px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-20deg);
  border: 1px solid rgba(255, 255, 255, 1);
  opacity: 1;
}

.parallelogram-border-dashboard {
  width: 20px;
  height: 50px;
  transform: translate(-50%, -50%) skewX(-20deg);
  border: 1px solid rgb(3, 0, 0);
  opacity: 1;
  margin: 0 10px;
}

/* Swiper slider styles */
.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.custom-swiper-button {
  width: 40px;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-swiper-button img {
  width: 20px;
  height: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-pagination {
  bottom: 20px;
}
